@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(./Emulogic-zrEw.ttf) format("truetype");
}

.ScreenStatsDiv {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: rgb(38, 69, 241);
}

.stats_span {
  background-color: rgb(38, 69, 241);
  color: white;
  font-family: "MyFont";
  font-size: 1vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
